
.cloud-container{
  width:100%;
  height:100vh;
  margin-top: 15px;
  display:flex;
  position:relative;
  overflow:hidden;
  font-family:sans-serif;
}

/* IMAGE SIDE */

.cloud-image{
  width:50%;
  position:relative;
  z-index:2;
  transition: transform 0.8s ease, clip-path 0.8s ease;
  clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
}

.cloud-image img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* TEXT SIDE */

.cloud-text{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  /* padding:80px; */
  transition: transform 0.8s ease;
  overflow:hidden;
  position:relative;
  z-index:1;
}

/* INTRO TEXT */

.cloud-intro h1{
  font-size:3rem;
  cursor:pointer;
}

.cloud-intro p{
  margin-top:20px;
  font-size:1.2rem;
  color:#555;
}

/* CONTENT AFTER CLICK */

.cloud-content{
  max-width:500px;
  position:relative;
  animation: fadeIn 0.6s ease;
}

.cloud-content h1{
  font-size:3rem;
  margin-bottom:20px;
}

.cloud-content p{
  margin-bottom:20px;
  line-height:1.2;
  color:#444;
}

/* BUTTON */

.start-btn{
  padding:14px 30px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
  transition:0.3s;
}

.start-btn:hover{
  background:#1e4ed8;
}

/* CLOSE BUTTON */

.close-btn{
  position:absolute;
  top:-5px;
  right:25px;
  font-size:28px;
  border:none;
  background:none;
  cursor:pointer;
}

/* ACTIVE STATE ANIMATION */

.cloud-container.active .cloud-image{
  transform: translateX(100%);
  clip-path: polygon(20% 0,100% 0,100% 100%,0 100%);
}

.cloud-container.active .cloud-text{
  transform: translateX(-100%);
}

/* TEXT FADE ANIMATION */

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}